<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color:rgb(65, 252, 8);
}

h1 {
  color: black;
  text-align: center;
}

items {
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  height: 100vh;            /* altura total da tela */
  margin: 0;
}




</style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

</body>
</html>
